{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        {{ site.data[site.active_lang].strings.last_updated }}: {% include date_format.liquid format='short' date_from=page %}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img decoding="async" loading="lazy" src="{{ site.url }}{{ site.baseurl }}/assets/img/by-nc-sa.png" width="117" height="41" alt="CC BY-NC-SA 4.0" style="float: right;"></a>
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        <br>
        {{ site.data[site.active_lang].strings.last_updated }}: {% include date_format.liquid format='short' date_from=page %}
      {% endif %}
    </div>
  </footer>
{% endif %}
