<div id="gallery-container{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-container d-flex align-items-center justify-content-center">
  {% for picture in include.gallery.pictures %}
    <a href="{{ site.url }}{{ site.baseurl }}/assets/img-noresample/{{ include.gallery.picture_path }}/{{ picture.original }}"
    data-responsive="{% for size in picture.sizes %} {{ site.url}}{{ site.baseurl }}/assets/img-noresample/{{ include.gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}"
    {% if picture.title %} data-sub-html="<div class='caption'><h4>{{ picture.title | escape }}</h4>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</div>"{% endif %}>
      <img class="img-fluid" alt="{{ picture.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/img-noresample/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />
    </a>
  {% endfor %}
</div>


<script type="module">
  lightGallery(document.getElementById("gallery-container"), {
    speed: 500,
    plugins: [lgZoom]
  });
</script>
